.header {
    padding: 1em;
    width: 100%;
}

.text-center {
    align-items: center;
    text-align: center;
}

.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    min-height: 12%;
    z-index: 2;
    background: white;

}

table.logs {
    width: 85%;
    margin: 0 auto;
}

@media screen and (max-width: 64em) {
    table.logs {
        width: 100%;
    }
}

table.logs th {
    background-color: #3e6eb6;
    color: #fff;
    width: 1%;
}

table.logs th.desc {
    width: 100%;
}

table.logs tbody tr:nth-child(even){
    background-color: #cbcbcb;
}

table.logs tr td.when{
    white-space: nowrap;
}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
}

.button-error {
    color: #fff;
    background: rgb(202, 60, 60);
    /* this is a maroon */
}

[v-cloak] {display: none}